{
  "env": {
    "commonjs": true,
    "es2021": true,
    "jest/globals": true,
    "node":true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 12
  },
  
    "plugins": ["jest"]
  ,
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "camelcase": "error",
    "capitalized-comments": "off",
    "comma-spacing": "error",
    "spaced-comment":"error",
    "no-var":"error",
    "prefer-const":"error",
    "arrow-spacing":"error"
  }
}
